<footer id="footer" class="our_menu1" style="background: #3c4043 !important;position: relative; bottom:0; width:100%;z-index:6; ">
    <br/>
    <div class="container" >
        <div class="row">

            <div class="col-md-3">
                <div class="widget">
                    <h5 class="widgetheading">Preface</h5>
                    <a href="#"><h1><i class="fas fa-hand-holding-usd"></i> Donate For Cause </h1></a>
                    <address> Email Below </address>
                        <i class="icon-phone"></i> <br>
                        <i class="icon-envelope-alt"></i> ktsorensen99@gmail.com
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget">
                    <h5 class="widgetheading">Modeling Links</h5>
                    <ul class="link-list">
                        <li><a href="https://www.kaggle.com/datasets/jehanbhathena/weather-dataset">Weather Image Datasets</a></li>
                        <li><a href="https://viso.ai/deep-learning/resnet-residual-neural-network/">ResNet50</a></li>
                        <li><a href="https://viso.ai/deep-learning/resnet-residual-neural-network/">ResNet152</a></li>
                        <li><a href="https://arxiv.org/abs/1409.1556">VGG16</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget">
                    <h5 class="widgetheading">Contact and Other Work</h5>
                    <ul class="link-list">
                        <li><a href="https://www.linkedin.com/in/kristoffer-sorensen-758bb51b1/">LinkedIn</a></li>
                        <li><a href="https://github.com/ktsorensenWX">GitHub</a></li>
                        <!-- <li><a href="#">PI</a></li>
                        <li><a href="#">Career</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget">
                    <h5 class="widgetheading">Other Projects</h5>
                    <ul class="link-list">
                        <li><a target="" href="https://github.com/ktsorensenWX/TOOL1_Final_Project">Hurricane Statistics</a></li>
                        <li><a target="new" href="https://github.com/ktsorensenWX/Wildfires">National Wildfires</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer" style="background: #5c5c5c !important">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                            <span>&copy; All right reserved to Kristoffer Sorensen.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>

function footerPosition(){
    //if ( $(document).height() < $(window).height() )
    //    $('#footer').css('position', 'absolute')
    //var ft = $('#footer').position().top + $('#footer').height()
    //if ( $('#pagecontent').height() + 150 > $(window).height() ){
    if ( (document.body.clientHeight) < $(window).height() ){
        $('#footer').css('position', 'relative')
    }else{
        $('#footer').css('position', 'fixed')
    }

}
$( document ).ready(footerPosition);
</script>