{% extends "common.html" %}
{% block content %}

<div class="center"
     style='font-family: "Google Sans",Arial,Helvetica,sans-serif; padding: 20px; margin: 20px;'>

    <br/>
    <h1>&nbsp;Using Convolutional Neural Networks in Meteorological Image Classification</h1>
<br/>
<br/>
<br/>
</div>
<div class="container" >
        <div class="row">
            <div class="col-md-10">
                
     <img src="static/imgs/DataScience.png" width=240px align=right valign=top/>
            

Using a combination of Data Science principles, Artifical Intelligence and Machine Learning, and Meteorology, a tool can be developed to help deliver real-time weather information.
By collecting and training images based on several weather phenomena, an image classification model is created to be used on photos taken directly from a phone or camera.
The end result is a classification of the specific weather occurance at the time and place of the image.
Future developments involve using location data to provide weather data to further expand on the capabilities the model can provide.
Inovative design ideas involve the introduction into vehicle, aviation and shipping cameras to
assist those in control and maintain safety when conditions get worse.
                       
</div>
</div>
</div>
<br/>
<br/>
<br/>
<br/>

<table width=100% class="our_menu" style="text-align:center;" border=0><tr>
    <td><div class="card" style="width: 18rem;margin: 0px auto;">

  <div class="card-body">
    <h5 class="card-title">Uses and Goals</h5>
    <p class="card-text">
        <img  width="240px" src="/static/imgs/F35_L2.jpg"/>     
      Understand when and How to use
      </p>
    <a href="http://127.0.0.1:8000/app1/app1/page1.html/" class="btn btn-primary">Learn More</a>
  </div>
        </div></td>
    <td><div class="card" style="width: 18rem;margin: 0px auto;">

  <div class="card-body">
    <h5 class="card-title">Modeling Insight</h5>
    <p class="card-text">
        <img  width="200px" src="/static/imgs/Question.png"/>     
    </p>
    <p class="card-text">
      What are the models?
    </p>
    <a href="http://127.0.0.1:8000/app1/app1/page3.html/" class="btn btn-primary">See More</a>
  </div>
    </div></td>

<td><div class="card" style="width: 18rem;margin: 0px auto;">

  <div class="card-body">
    <h5 class="card-title">Building and Developing</h5>
    <p class="card-text">
        <img  width="240px" src="/static/imgs/building.jpg"/>     
      Whats Happening?
        </p>
    <a href="http://127.0.0.1:8000/app2/app2/page4.html/" class="btn btn-primary">Find More</a>

  </div>
        </div></td>
    <td><div style="height:390px;">.</div></td>
</tr>
</table >

<br/>
{% include "footer.html" %}
<script>

</script>
{% endblock %}
