{% extends "common.html" %}
{% block content %}

<div class="center"
     style='font-family: "Google Sans",Arial,Helvetica,sans-serif; padding: 20px; margin: 20px;'>

    <br/>
    <h1>&nbsp;What's being done so far?</h1>
<br/>
<br/>
<br/>
</div>
<div class="container" >
        <div class="row">
            <div class="col-md-10">
                
     <img src="/static/imgs/ai-hub_2x.png" width=240px align=right valign=top/>
            
As AI and Machine Learning are becoming part of a new "Industrial Revolution", they'll only play more of a role in 
society the further we develop them. Currently, AI and ML are being used sparingly in Meteorology as the conventional way of 
human forcasting is still the normal. Proving that AI can play a role in increasing response time and accuracy however will improve
all aspects of weather predicion. 
                    
</div>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<br/>
{% include "footer.html" %}
<script>

</script>
{% endblock %}
